build*
eclipse*
xcode*
neo/ipch
*~
*.gch
*.dll
*.exe
*.7z
*.zip
*.pk4
*.resources
*.crc
.DS_Store
imgui.ini

base/autoexec.cfg
base/classicmusic/
base/joy_360_0.cfg
base/joy_360_1.cfg
base/joy_lefty.cfg
base/joy_righty.cfg
base/maps/
base/sound/
base/strings/
base/video/
base/wads/
base/renderprogs2/
base/generated/
base/env/
base/screenshots/
base/_tb/*.obj
base/_tb/*.mtl

GPATH
GRTAGS
GSYMS
GTAGS
HTML/
neo/.kdev4
neo/neo.kdev4
neo/.idea/
neo/.vscode/
neo/cmake-build-*/
neo/bin/
/tools/
/RBDoom3BFG
/__redist/
/__support/
/app/
/base/*.png
/neo/idlib/libidlib.a
/goggame-1135892318.hashdb
/goggame-1135892318.info
/goggame-1135892318.script
/language_setup.ini
/neo/CMakeCache.txt
/neo/CMakeFiles/
/neo/Makefile
/neo/cmake_install.cmake
/neo/idlib/CMakeFiles/
/neo/idlib/Makefile
/neo/idlib/cmake_install.cmake
/neo/libs/ispc_texcomp/CMakeFiles/
/neo/libs/ispc_texcomp/Makefile
/neo/libs/ispc_texcomp/cmake_install.cmake
/neo/libs/ispc_texcomp/kernel.o
/neo/libs/ispc_texcomp/kernel_ispc.h
/neo/libs/ispc_texcomp/libispc_texcomp.a
/neo/libs/moc/CMakeFiles/
/neo/libs/moc/Makefile
/neo/libs/moc/cmake_install.cmake
/neo/libs/moc/libMaskedOcclusionCulling.a
/neo/shaders/CMakeFiles/
/neo/shaders/Makefile
/neo/tools/compilers/rbdmap
